.tenor-sans-regular {
    font-family: "Tenor Sans", serif;
    font-weight: 400;
    font-style: normal;
  }  

/* Reset some default styles */
body {
    margin: 0;
    font-family: "Tenor Sans", serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Style the main heading */
.header {
    text-align: center;
    color: #333;
    padding: 20px 0;
    background-color: #4CAF50;
    color: white;
    margin: 0;
}

/* Card styles */
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto; /* Center the card */
    padding: 20px;
    max-width: 500px; /* Set a maximum width */
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 15px;
  }
  
  .box:hover {
    background-color: #e5f3e5;
    color: white;
  }  

/* Style the navigation menu */
nav {
    margin: 0;
}

/* Style the unordered list */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

/* Style the list items */
nav ul li {
    display: inline;
    margin: 0 15px;
}

/* Style the links */
nav ul li a {
    color: #4CAF50; /* Change link color */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background: #e5f3e5;
    border-radius: 5px;
    text-decoration: underline;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
  }